[submodule "__learn/pandas_exercises"]
	path = __learn/pandas_exercises
	url = https://github.com/guipsamora/pandas_exercises.git
[submodule "__learn/pandas_exercises_rhomi"]
	path = __learn/pandas_exercises_rhomi
	url = https://github.com/Rhomi/Pandas-Exercises.git
[submodule "__learn/pytudes"]
	path = __learn/pytudes
	url = https://github.com/norvig/pytudes.git
[submodule "__learn/leetcode_shichao_an"]
	path = __learn/leetcode_shichao_an
	url = https://github.com/shichao-an/leetcode-python.git
[submodule "__learn/50_matplotlib"]
	path = __learn/50_matplotlib
	url = https://github.com/ynuwm/50_matplotlib.git
[submodule "__learn/matplotlib-gallery"]
	path = __learn/matplotlib-gallery
	url = https://github.com/rasbt/matplotlib-gallery.git
[submodule "__learn/algorithms"]
	path = __learn/algorithms
	url = https://github.com/keon/algorithms.git
[submodule "__learn/python-small-examples"]
	path = __learn/python-small-examples
	url = https://github.com/jackzhenguo/python-small-examples.git
[submodule "__learn/dearpygui"]
	path = __learn/dearpygui
	url = https://github.com/hoffstadt/DearPyGui.git
